use flake
export GPR_PROJECT_PATH=/home/adam/repos/Adam_Jasinski/ada_tahoe:/home/adam/repos/Adam_Jasinski/ada_tahoe/config/dependencies/utilada_2.6.0:/home/adam/repos/Adam_Jasinski/ada_tahoe/config/dependencies/utilada_2.6.0/.alire
